.header{
    background-color: white;
    padding:1.5rem 1.3rem .75rem 1.3rem;
    text-align: center;
}
#header-logo{
    width:50%;
}
.headerIcon{
    width:30px;
    margin-right:20px;
}
.headerLink{
    color:#a63da1;
    text-transform: uppercase;
    margin-right: 10px;
}
#headerProfileImg{
    display: inline-block;
    width:50px;
    height:50px;
    background: transparent;
    overflow: hidden;
}
.text2{
    font-style: italic;
    font-size: 24px;
    vertical-align: middle;
    margin-left: 10px;
}
#mobile-dealers-text{
    color:white;
    position: absolute;
    left:48%;
    top:-4px;
    font-size: 14px;
}
#mobileMenu{
    position: absolute;
    left:20px;
}
#mobile-login-img{
    position: absolute;
    right:20px;
    top: 30px;
    width: 30px;
}
#mobile-logo{
    width: 40px;
}
@media only screen and (min-device-width: 768px){
    .header{
        padding:.5rem 3rem;
        text-align: left;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    
 }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
   
 }
/* XXX-Large devices (larger desktops, 1800px and up) */
@media (min-width: 1800px) {
    
 }
