.page-container{
    padding:1.5rem;
}
.page-heading{
    font-weight: 500;
}
.bg-white{
    background-color: white;
}
input{
    padding-left: 0;
    margin:0 auto;
    border:none;
    border-bottom: 1px solid gray;
    outline: none;
    border-radius: 0;
    color: black;
    font-size: 12px;
}
input:focus{
    background-color: transparent;
    border:none;
    box-shadow: none;
    border-bottom: 1px solid gray;
}
input:focus::placeholder {
    color: transparent;
}
input::placeholder {
    color: #040404;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
}
.form-group{
    margin-bottom: 1rem;
}
label{
    text-transform: uppercase;
    color:#b3b3b3;
    margin-bottom: 4px;
    margin-top: 4px;
}
::ng-deep .ng-select .ng-select-container{
    border:0 !important;
    border-bottom: 1px solid gray !important;
    border-radius: 0;
}
::ng-deep .ng-select.ng-select-single .ng-select-container .ng-value-container{
    padding-left: 0;
}
::ng-deep .ng-select.ng-select-single .ng-select-container{
    min-height: 30px;
    height: 30px;
}
::ng-deep .ng-select .ng-select-container .ng-value-container .ng-placeholder{
    color:black;
    font-weight: 500;
    font-size: 1rem;
    font-size: 12px;
    text-align: left;
}
.btn-password{
    width: 100%;
    background-color: #a63da1;
    color:white;
}
.btn-save{
    padding:6px 3rem;
}
.btn{
    text-transform: uppercase;
}
.btn-secondary:focus{
    box-shadow: 0 0 0 0.25rem rgba(51, 50, 51, 0.25);
}
.btn-save:focus{
    box-shadow: 0 0 0 0.25rem rgba(51, 50, 51, 0.25);
}
.camera-icon{
    position: absolute;
    right:-20px;
    bottom:-10px;
}
.camera-icon img{
    width:50px;
    height: 50px;
}
.shadow{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.settingImage{
    min-width: 120px;
    min-height: 120px;
    max-width:200px;
    max-height: 200px;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.settingImage > img{
    border: 1px solid #f3f3f3;
}
#socilaMediaTable tr{
    margin-bottom: 2rem;
}
#socilaMediaTable td{
    vertical-align: middle;
    border-bottom: 0px;
    padding:3rem 0.5rem;
}
#socilaMediaTable img{
    width:70px;

}
#socilaMediaTable input{
    width:100%;

}
/* .settingImage::after{
    content: "";
    width: 30px;
    height: 30px;
    background-image: url("/assets/images/camera.png");
    background-color: red;
    bottom: -20px;
    right: 20px;
    position: absolute;
    display: inline-block;
} */

@media only screen and (min-device-width: 768px){
    .btn-save{
        padding:6px 5rem;
    }
    .page-container{
        padding:1.5rem 4rem;
    }
    .settingImage{
        min-width: 180px;
        min-height: 180px;
    }
}
/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    
}
/* XXX-Large devices (larger desktops, 1800px and up) */
@media (min-width: 1800px) {
    .page-container{
        padding:3rem 6rem;
    }
}