.pwdSaveBtn{
    background-color: #a63da1;
    color:white;
    text-transform: uppercase;
}
input{
    padding-left: 0;
    margin:0 auto;
    border:none;
    border-bottom: 1px solid gray;
    outline: none;
    border-radius: 0;
    color: black;
    font-size: 12px;
}
input:focus{
    background-color: transparent;
    border:none;
    box-shadow: none;
    border-bottom: 1px solid gray;
}
input:focus::placeholder {
    color: transparent;
}
input::placeholder {
    color: #040404;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
}
.form-group{
    margin-bottom: 1rem;
}
label{
    text-transform: uppercase;
    color:#b3b3b3;
}
.ng-dirty.ng-invalid {
  border-color: red;
}
.ng-touched.ng-invalid {
  border-color: red !important;
}
