<div class="container-fluid">
    <section>
        <div class="row">
            <div class="col-md-12 p-0">
                <div class="header d-flex flex-column flex-md-row justify-content-between align-item-center">
                    <div class="my-auto d-none d-md-block">
                        <img src="assets/images/logo.png" alt="logo" id="header-logo"> <span class="text2">-Dealers</span>
                    </div>
                    <div class="d-block d-md-none text-center">
                        <span id="mobile-dealers-text" class="d-block d-md-none">- Dealers</span>
                        <img src="assets/images/main-logo-mobile.png" alt="main-logo" id="mobile-logo">
                        <img src="assets/images/login.png" alt="login" id="mobile-login-img">
                    </div>
                    <div class="my-auto d-none d-md-block">
                        <button class="btn btn-basic text-uppercase main-color btn-reg" routerLink="/">Registering as Dealer</button>
                        <button class="btn btn-primary btn-login" routerLink="/dealer-login">Log In</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="row d-block d-md-none">
            <div class="col text-center">
                <button class="btn btn-basic text-uppercase main-color btn-reg mx-auto">Registering as Dealer</button>
            </div>
        </div>

        <div class="row mt-md-4 mt-xl-4 mt-xxl-5">
            
            <div class="col-md-12 text-center" id="otpBox">
                <div class="mb-md-4 mb-xl-5">
                    <img src="assets/images/main-image.png" id="center-logo" class="img-fluid d-block d-md-none" alt="main logo">
                    <img src="assets/images/main-logo.png" id="center-logo" class="img-fluid d-none d-md-block" alt="main logo">
                </div>
                <h5 class="text-uppercase bold">
                    Verify Your Phone Number
                </h5>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed<br class="d-none d-md-block"/> do eiusmod tempor incididunt ut labore et dolore magna
                    <br class="d-none d-md-block"/> aliqua. Ut enim ad minim
                    veniam
                </p>
                <form [formGroup]="otpForm" class="mt-md-3" (keydown)="EnterSubmit($event)">
                    <div class="form-group mt-4 mt-md-5">
                        <input type="text" matInput class="form-control" id="exampleFormControlInput1"
                            formControlName="otpNumber"
                            placeholder="Enter Code">
                    </div>
                    <div class="d-flex mt-5">
                        <button mat-button class="btn btn-default btn-back" (click)="goBack()">Back</button>
                        <button type="submit" mat-button class="btn btn-dark flex-grow-1" (click)="onSubmit()" [disabled]="!otpForm.valid">SUBMIT</button>
                    </div>
                    <div *ngIf="alertMsg.message" class="alert alert-danger fade show d-flex justify-content-between align-items-center mt-2 p-2" role="alert">
                        <span>{{alertMsg.message}}</span>
                        <button type="button" class="btn btn-default close" (click)="close()" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                </form>
            </div>
        </div>

    </section>
    <section>
        <div class="row">
            <div class="col-md-12 p-0">
                <div class="d-flex flex-column flex-md-row justify-content-between align-item-center text-center text-md-left"
                    id="footer">
                    <div>
                        <img src="assets/images/footer-logo-mobile.png" class="d-block d-md-none w-50 mx-auto"
                            alt="footer-logo">
                        <img src="assets/images/footer-logo.png" class="d-none d-md-block" alt="footer-logo">
                    </div>
                    <div class='my-auto'>
                        <img src="assets/images/fb.png" class="m-2" alt="fb">
                        <img src="assets/images/linkedin.png" class="m-2" alt="linkedin">
                        <button class="btn btn-link main-color text-uppercase">Contact Us</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>