/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";
body{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.btn-check:focus + .btn, .btn:focus{
    box-shadow: 0 0 0 0.25rem rgba(253, 13, 201, 0.25);
}
