<div class="page-container">
    <div class="row">
        <div class="col-md-12 p-0 d-flex justify-content-between">
            <h1 class="page-heading">Dashboard</h1>
            <div>
                <select name="days" id="" class="border-0">
                    <option value="0">Last 7 days</option>
                </select>
            </div>
        </div>
        <div class="col-md-12 p-0">
            <div *ngIf="alertMsg.message" id="customAlert"
                class="alert fade show d-flex justify-content-between align-items-center mt-2 p-2"
                [ngClass]="(alertMsg.type == 'danger')?'alert-danger': 'alert-success'" role="alert">
                <span>{{alertMsg.message}}</span>
                <button type="button" class="btn btn-default close" (click)="close()" data-dismiss="alert"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        <div class="col-md-12 p-0">
            <div class="row">
                <div class="col-md-12 d-flex justify-content-end">

                </div>
            </div>
            <div class="row">

                <div class="col-md-2 mb-2">
                    <div class="card card1 flex-grow-1 me-1 text-left px-3 py-3" style="background: #9368c8;">
                        <div>
                            <img src="assets/images/total-shares.png" alt="">
                        </div>
                        <p class="d-count text-white">{{apiData?.totalContentShared}}</p>
                        <p class="text-white bold">Total Shares
                    </div>
                </div>

                <div class="col-md-2 mb-2">
                    <div class="card card1 flex-grow-1 me-1 text-left px-3 py-3 ">
                        <div style="height: 30px;width: 10px;">
                        </div>
                        <p class="d-count aleft">{{apiData?.campaignsShared}}</p>
                        <p class="text-muted aleft bold">Campaigns Shared
                    </div>
                </div>
                <div class="col-md-2 mb-2">
                    <div class="card card1 flex-grow-1 me-1 text-left px-3 py-3">
                        <div style="height: 30px;width: 10px;">
                        </div>
                        <p class="d-count aleft">{{apiData?.bannersShared}}</p>
                        <p class="text-muted aleft bold">Banners Shared
                    </div>
                </div>
                <div class="col-md-2 mb-2">
                    <div class="card card1 flex-grow-1 me-1 text-left px-3 py-3">
                        <div style="height: 30px;width: 10px;">
                        </div>
                        <p class="d-count aleft">{{apiData?.totalFollowing}}</p>
                        <p class="text-muted aleft bold">Total Following
                    </div>
                </div>
                <div class="col-md-4 mb-2">
                    <div class="card card1 color-bg px-3 py-3 position-relative" style="background: #a63da1;">
                        <div>
                            <img src="assets/images/total-reg.png" alt="" class="card-icon">
                        </div>
                        <p class="d-count text-white">{{apiData?.totalPoints}}</p>
                        <div class="d-flex align-items-center justify-content-between text-white bold">
                            Points Earned
                            <div>
                                Wallet
                                <img src="assets/images/next.png" width="18px">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 p-0 mt-4">
            <div class="row">
                <div class="col-md-5">
                    <h3>Recent Ponits</h3>
                    <div style="max-height: 390px;overflow-y: scroll;">
                        <div *ngFor="let points of apiData?.recentPoints"
                            class="shadow-sm px-3 me-1 py-1 d-flex align-items-center justify-content-between my-1">
                            <div>
                                <img [src]="points.image" alt="" class='avatar'>
                            </div>
                            <div class="my-auto">
                                <p class="mb-0 text-uppercase">{{points.campanyName}}</p>
                                <p class="mb-0 text-muted">{{points.remark}}</p>
                            </div>
                            <div class="my-auto">
                                <span>
                                    {{points.pointsProvided}}x
                                </span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-7 mt-3 mt-md-0">
                    <mat-tab-group>
                        <mat-tab label="Banner Engagement">
                            <div class="pt-2">
                                <div #containerRef>
                                    <ngx-charts-bar-vertical
                                        [view]="[containerRef.offsetWidth, containerRef.offsetHeight]"
                                        [yAxis]="showYAxis" [results]="single" [gradient]="gradient"
                                        [yAxisLabel]="yAxisLabel">
                                    </ngx-charts-bar-vertical>
                                </div>
                            </div>


                        </mat-tab>
                        <mat-tab label="Campaign Engagement">
                            <div class="pt-2">
                                <div #containerRef1>
                                    <ngx-charts-bar-vertical
                                        [view]="[containerRef1.offsetWidth, containerRef1.offsetHeight]"
                                        [results]="single2" [yAxis]="showYAxis" [gradient]="gradient"
                                        [yAxisLabel]="yAxisLabel">
                                    </ngx-charts-bar-vertical>
                                </div>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
        </div>
        <div class="col-md-12 p-0">
            <mat-tab-group class="mt-5">
                <mat-tab label="Banners">
                    <div class="col-md-12 mt-2 p-0 d-flex justify-content-between">
                        <h2>Banners</h2>
                        <div ngbDropdown>
                            <button class="btn btn-sort" id="gfg" ngbDropdownToggle>Sort By:</button>
                            <div ngbDropdownMenu="gfg">
                                <button ngbDropdownItem class="btn btn-default"
                                    (click)="sortTable('alphabatical','banner')">Alphabatical</button>
                                <button ngbDropdownItem class="btn btn-default" (click)="sortTable('new','banner')">New
                                </button>
                                <button ngbDropdownItem class="btn btn-default"
                                    (click)="sortTable('popular','banner')">Popular</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 p-0">
                        <div class="card w-100 banner box-shadow mb-5 mb-md-0"
                            *ngFor="let banner of apiData?.bannerList | paginate: { id: 'pagination1', itemsPerPage: 1, currentPage: p };let i = index"
                            [style.background-image]="'url(' + banner.bannerImageLink + ')'">
                            <div class="banner-content mb-2">
                                <h1 class="text-light mb-0 ms-1">{{banner.bannerName}} <span
                                        style="font-size: 12px;color:gray">{{banner.bannerStartDate | date
                                        :'shortDate'}}</span>
                                </h1>
                                <div class="d-flex me-3">
                                    <div class="me-2" style="cursor:pointer">
                                        <img src="assets/images/fb.png" alt="fb" (click)="shareToFb(banner)">
                                    </div>

                                    <div class="ml-2" style="cursor:pointer">
                                        <mat-icon style="color:white;zoom:1.3">share</mat-icon>
                                    </div>
                                </div>
                            </div>
                            <div class="pagination-box">
                                <pagination-controls #pagination1 id="pagination1" (pageChange)="getPage(p = $event)"
                                    previousLabel="" nextLabel="">
                                </pagination-controls>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Campaigns">
                    <ng-template matTabContent>
                        <div class="col-md-12 p-0 mt-2 d-flex justify-content-between">
                            <h2>Campaigns</h2>
                            <div ngbDropdown>
                                <button class="btn btn-sort" id="gfg" ngbDropdownToggle>Sort By:</button>
                                <div ngbDropdownMenu="gfg">
                                    <button ngbDropdownItem class="btn btn-default"
                                        (click)="sortTable('owner','camp')">Alphabatical -
                                        owner</button>
                                    <button ngbDropdownItem class="btn btn-default"
                                        (click)="sortTable('title','camp')">Alphabatical -
                                        title</button>
                                    <button ngbDropdownItem class="btn btn-default"
                                        (click)="sortTable('new','camp')">New
                                    </button>
                                    <button ngbDropdownItem class="btn btn-default"
                                        (click)="sortTable('popular','camp')">Popular</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <swiper [config]="config1" #usefulSwiper2>
                                <div class="swiper-wrapper swiper-wrapper2">
                                    <div class="swiper-slide"
                                        *ngFor="let campaign of apiData?.campaignList | paginate: { id: 'pagination2', itemsPerPage: 4, currentPage: p1 };let i = index">
                                        <div class="card">

                                            <div class="tile" *ngIf="campaign.campaignType == 'image'"
                                                [ngStyle]="{'background-image': 'url(' + campaign.campaignImageLink + ')'}">
                                            </div>
                                            <div class="tile" *ngIf="campaign.campaignType == 'video'">
                                                <video width="100%" [poster]="campaign.campaignImageLink" controls>
                                                    <source [src]="campaign.campaignVideoLink" type="video/mp4">
                                                </video>
                                            </div>
                                            <!-- <img [src]="campaign.campaignImageLink" alt="kia" class="slide-img"> -->
                                            <h3 class="text-left mb-0">{{campaign.campaignDescription}}</h3>
                                            <div style="position: absolute;right:4px;top:4px;cursor: pointer;"
                                                (click)="openCampaignShareModal(campaign)">
                                                <mat-icon style="color:#a73ea1">share</mat-icon>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-button-next swiper-button-next2"
                                    (click)="usefulSwiper2.swiper.slideNext()"></div>
                                <div class="swiper-button-prev swiper-button-prev2"
                                    (click)="usefulSwiper2.swiper.slidePrev()"></div>
                            </swiper>
                        </div>
                        <div class="col-md-12">
                            <div class="card pagination-card text-center mt-2">
                                <pagination-controls id="pagination2" (pageChange)="getPage(p1 = $event)"
                                    previousLabel="" nextLabel="">
                                </pagination-controls>
                            </div>
                        </div>
                    </ng-template>

                </mat-tab>
            </mat-tab-group>
        </div>
        <!-- <div class="col-md-12 p-0 d-flex justify-content-between mb-5">
            <div class="card card1 flex-grow-1 me-1 me-md-5 text-center py-3 strip1 pb-0">
                <div>
                    <img src="assets/images/total-referals.png" alt="" class="card-icon">
                </div>
                <p class="d-count aleft">{{apiData?.totalReferals}}</p>
                <p class="text-muted aleft text-uppercase">Total Referals
                    <mat-icon class="align-middle">trending_flat</mat-icon>
                </p>
            </div>
            <div class="card card1 flex-grow-1 ms-1 ms-md-2 me-1 me-md-2 text-center py-3 strip2 pb-0">
                <div>
                    <img src="assets/images/points-icon.png" alt="" class="card-icon">
                </div>
                <p class="d-count aleft">{{apiData?.totalPoints}}</p>
                <p class="text-muted aleft text-uppercase">Total Points
                    <mat-icon class="align-middle">trending_flat</mat-icon>
                </p>
            </div>
            <div class="card card1 flex-grow-1 me-1 ms-md-5 text-center py-3 strip3 pb-0">
                <div>
                    <img src="assets/images/content-icon.png" alt="" class="card-icon">
                </div>
                <p class="d-count aleft">{{apiData?.totalContentShared}}</p>
                <p class="text-muted aleft text-uppercase">Campaigns Shared
                    <mat-icon class="align-middle">trending_flat</mat-icon>
                </p>
            </div>
        </div> -->

        <div class="col-md-12 p-0">


        </div>


    </div>
</div>