button:focus{
    outline:none;
    border:0;
    box-shadow: none;
}
.btn{
    border-radius: 0;
    text-transform: uppercase;
}
.btn-reg{
    font-weight: 600;
    font-size: 16px;
}
.btn-login{
    background-color: #a63da1;
    padding:.2rem 3rem;
    outline: none;
    border:0;
    text-transform: uppercase;
    font-size: 14px;
}
.main-color{
    color: #a63da1;
}
#profileBox{
    text-align: center;
}
.welcomeText{
    margin-top:30px;
    margin-bottom: 50px;
}
.header{
    background-color: #f3f2f2;
    padding:1.5rem 1.3rem .75rem 1.3rem;
    text-align: center;
}
#header-logo{
    width:50%;
}
#mobile-dealers-text{
    color:white;
    position: absolute;
    left:48%;
    top:8px;
}
#mobile-logo{
    width: 40px;
}
.btn{
    border-radius: 0;
    text-transform: uppercase;
}

.btn-back{
    font-size: 18px;
    background-color: #c1c1c1;
    text-transform: uppercase;
    margin-right: 8px;
    color:white;
    padding: 0.375rem 2rem;
}

.bold{
    font-weight: 600;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-bottom:12px;
}
.page-content{
    width: 100%;
    height: 90vh;
    background-image: url('../../../assets/images/pack-mobile.png');
    background-repeat: no-repeat;
    background-position: 0px -50px;
    background-size: cover;
}
.chooseText{
    font-size: .95rem;;
}
.pricing-container{
    padding:1rem 2rem;
    text-align: center;
}
.price{
    font-weight: 800;
    font-size: 4rem;
    margin:2rem auto;
}
#footer{
    width: 100%;
    background-color: black;
    padding:1rem;
    position: fixed;
    bottom:0
}
.text2{
    font-style: italic;
    font-size: 24px;
    vertical-align: middle;
    margin-left: 10px;
    
}

#mobile-login-img{
    position: absolute;
    right:20px;
    top: 30px;
    width: 30px;
}
@media only screen and (min-device-width: 768px){
    .header{
        padding:.5rem 5rem;
        text-align: left;
    }
    #footer{
        width: 100%;
        padding:.5rem 5rem;
        position: absolute;
        bottom:0;
    }
    .pricing-container{
        padding:2rem 8rem;
    }
    #profileBox{
        text-align: center;
        margin-left:30px;
        width: 60%;
    }
    .page-content{
        width: 100%;
        height: 90vh;
        background-image: url('../../../assets/images/pack-bg.png');
        background-repeat: no-repeat;
        background-position: 0px 0px;
        background-size: 90%;
    }
    .chooseText{
        font-size: 1.95rem;;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  
    .btn-back{
        margin-right: 6px;
    }
 }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
   
    .btn-back{
        margin-right: 6px;
        padding: 0.375rem 3rem;
    }
 }
/* XXX-Large devices (larger desktops, 1800px and up) */
@media (min-width: 1800px) {
    
    .btn-back{
        margin-right: 8px;
        padding: 0.375rem 5rem;
    }
    .page-margin{
        margin-top: 6rem !important;
    }
    .card{
        padding:4rem 5rem;
    }
    .pricing-container{
        padding:5rem 12rem;
    }
    p{
        font-size: 18px;
    }
 }



