<div class="container-fluid">
    <section>
        <div class="row">
            <div class="col-md-12 p-0">
                <div class="header d-flex flex-column flex-md-row justify-content-between align-item-center">
                    <div class="my-auto d-none d-md-block">
                        <img src="assets/images/logo.png" alt="logo" id="header-logo"> <span
                            class="text2">-Dealers</span>
                    </div>
                    <div class="d-block d-md-none text-center">
                        <span id="mobile-dealers-text" class="d-block d-md-none">- Dealers</span>
                        <img src="assets/images/main-logo-mobile.png" alt="main-logo" id="mobile-logo">
                        <img src="assets/images/login.png" alt="login" id="mobile-login-img">
                    </div>
                    <div class="my-auto d-none d-md-block">
                        <button class="btn btn-basic text-uppercase main-color btn-reg" routerLink="/">Registering as Dealer</button>
                        <button class="btn btn-primary btn-login" routerLink="/dealer-login">Log In</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>


        <div class="row">
            <div class="col-md-12 p-0">
                <div class="page-content">
                    <div class="row">
                        <div class="col-md-12 text-center mt-5">
                            <h2 class="text-light text-uppercase chooseText">Choose a package</h2>
                        </div>
                    </div>
                    <div class="row pricing-container">
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-body">
                                    <h2 class="main-color text-uppercase">Lorem Ipsum</h2>
                                    <h1 class="price"><span style="font-size: 2rem;vertical-align: middle;">$</span>100
                                    </h1>
                                    <p class="main-color text-uppercase">Per Month</p>
                                    <hr />
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-body">
                                    <h2 class="main-color text-uppercase">Lorem Ipsum</h2>
                                    <h1 class="price"><span style="font-size: 2rem;vertical-align: middle;">$</span>100
                                    </h1>
                                    <p class="main-color text-uppercase">Per Month</p>
                                    <hr />
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-body">
                                    <h2 class="main-color text-uppercase">Lorem Ipsum</h2>
                                    <h1 class="price"><span style="font-size: 2rem;vertical-align: middle;">$</span>100
                                    </h1>
                                    <p class="main-color text-uppercase">Per Month</p>
                                    <hr />
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col d-none d-md-block"></div>
                        <div class="col d-flex my-3 my-md-1 my-xl-3 my-xxl-5 px-5 px-md-0">
                            <button mat-button class="btn btn-dark flex-grow-1" (click)="goToNextPage()">Next</button>
                        </div>
                        <div class="col d-none d-md-block"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center pb-5 pb-md-0">
                            <p class="w-75 mx-auto pb-5 pb-md-0">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                 ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                 quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
                            </p>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </section>
    <section>
        <div class="row">
            <div class="col-md-12 p-0">
                <div class="d-flex flex-column flex-md-row justify-content-between align-item-center text-center text-md-left"
                    id="footer">
                    <div>
                        <img src="assets/images/footer-logo-mobile.png" class="d-block d-md-none w-50 mx-auto"
                            alt="footer-logo">
                        <img src="assets/images/footer-logo.png" class="d-none d-md-block" alt="footer-logo">
                    </div>
                    <div class='my-auto'>
                        <img src="assets/images/fb.png" class="m-2" alt="fb">
                        <img src="assets/images/linkedin.png" class="m-2" alt="linkedin">
                        <button class="btn btn-link main-color text-uppercase">Contact Us</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>